[Desktop Entry]
Name=iCodex
Exec=/usr/lib/iCodex/iCodex %U
Icon=/usr/share/pixmaps/iCodex.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/icodex;