[Desktop Entry]
Name=iCodex
Exec=/usr/lib/icodex/iCodex %U
Icon=/usr/share/pixmaps/icodex.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/icodex;